html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  /*footer height plus padding*/
  margin-bottom: 200px; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a:hover {
    color: #FAA61A; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }

h1 {
  font-size: 3.5em;
  line-height: 1.8em;
  font-weight: bold; }

h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold; }

h3 {
  font-size: 1.8em;
  line-height: 2.2em;
  font-weight: normal; }

p, li {
  font-size: 1.6em;
  line-height: 2em; }

/* ======== HEADER ======== */
.logo {
  position: fixed;
  float: left;
  margin: 15px 0px 0px 25px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  padding: 5px;
  color: #8e8f91;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

/* ======== Footer ======== */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #272729 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 1024px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 1024px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #ffffff; }
  @media (max-width: 1024px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 767px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A;
  font-size: 1.2em; }

.weirdo-container {
  margin-bottom: 250px;
  display: table;
  width: 100%; }
  .weirdo-container .weirdo-left, .weirdo-container .weirdo-right {
    display: table-cell;
    vertical-align: top; }
  .weirdo-container .weirdo-right-inner {
    padding-top: 7px;
    padding-left: 40px; }
    .weirdo-container .weirdo-right-inner h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.5em;
      margin-left: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li > a {
      text-decoration: none; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li + li:before {
      padding: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb {
      background: none;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      font-size: 1.5em;
      color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li {
        color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li.active {
        color: #faa619;
        text-decoration: underline; }
    .weirdo-container .weirdo-right-inner .numbers-table {
      display: table; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row {
        display: table-row; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row > div {
        padding-top: 10px; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row.last-row > div {
        padding-top: 70px; }
      .weirdo-container .weirdo-right-inner .numbers-table .number-left {
        display: table-cell;
        font-size: 20px;
        font-weight: 600;
        color: #faa619;
        min-width: 100px; }
      .weirdo-container .weirdo-right-inner .numbers-table .caption-right {
        display: table-cell;
        font-size: 1.5em;
        padding-left: 1em; }
        .weirdo-container .weirdo-right-inner .numbers-table .caption-right span {
          color: #ccc; }
  .weirdo-container .control-img-container {
    overflow: hidden;
    position: relative; }
  .weirdo-container .control-img {
    width: 100%;
    height: 100%; }
  .weirdo-container .frame-container {
    margin-top: 10px; }
  .weirdo-container .img-frame {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .weirdo-container .img-frame-overlay {
    outline: 999px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1000;
    background: transparent;
    border: 1px dashed white; }
  .weirdo-container .preload-container {
    overflow: hidden; }
  .weirdo-container .right {
    float: right; }
  .weirdo-container .left {
    float: left;
    text-align: right;
    padding-right: 7px; }
    .weirdo-container .left .caption {
      font-style: italic;
      color: #58595b; }
    .weirdo-container .left .number {
      font-size: 20px;
      font-weight: 600;
      color: #faa619; }
  .weirdo-container .chart-container {
    padding-top: 20px; }
  .weirdo-container .chart-svg-container {
    overflow: visible; }
  .weirdo-container .chart-left, .weirdo-container .top-axis-left {
    height: 1px;
    display: block; }
  .weirdo-container div.vertical-line {
    border-left: 2px solid white;
    position: absolute;
    width: 1px;
    left: 0;
    top: 0; }
  .weirdo-container svg, .weirdo-container text {
    font-family: "Open Sans", sans-serif; }
  .weirdo-container svg text {
    fill: #58595b;
    stroke: none;
    font-style: italic; }
  .weirdo-container svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .weirdo-container svg .axis path {
      display: none; }
    .weirdo-container svg .axis--x text {
      text-anchor: start; }
    .weirdo-container svg .tick line {
      stroke: #58595b;
      opacity: .3;
      stroke-width: 1;
      stroke-dasharray: 2,2; }
    .weirdo-container svg .line {
      fill: none;
      stroke-width: 1.5px;
      stroke-linecap: round;
      shape-rendering: auto; }
    .weirdo-container svg .line-right {
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-left {
      stroke: #faa619; }
    .weirdo-container svg .line-dashed {
      stroke-dasharray: 2, 4;
      stroke-width: 2px;
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-declared {
      stroke: #faa619;
      stroke-width: 2.5px; }
    .weirdo-container svg path.line-annotation, .weirdo-container svg #arrowhead {
      stroke: #8c9494;
      stroke-opacity: 0.87;
      fill: none;
      shape-rendering: auto; }
    .weirdo-container svg circle {
      fill: #8c9494;
      fill-opacity: 0.87;
      shape-rendering: auto; }
    .weirdo-container svg .area-left {
      fill: #faa619;
      fill-opacity: 0.5; }
    .weirdo-container svg .area-right {
      fill: #faa619;
      fill-opacity: 0.3; }
    .weirdo-container svg .area-dashed {
      fill: #8c9494;
      fill-opacity: 0.1; }
  .weirdo-container svg.svg-frame-overlay path {
    stroke: white;
    stroke-width: 2px;
    shape-rendering: auto; }
  .weirdo-container .top-axis-container {
    margin-top: 6px; }
  .weirdo-container .top-axis-left .caption {
    margin-top: -8px; }
  .weirdo-container svg.top-axis {
    overflow: visible; }
    .weirdo-container svg.top-axis text {
      text-anchor: start; }
    .weirdo-container svg.top-axis path, .weirdo-container svg.top-axis line {
      fill: none;
      stroke: none; }

* {
  box-sizing: border-box; }

body {
  font: 14px/1.4 Arial, Serif;
  overflow-x: hidden; }

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff; }

.contain {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: left; }

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%; }

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #e3e3e3; }

.header-content {
  z-index: 2; }

.jumbotron {
  position: relative;
  height: 37.8vw;
  z-index: -101; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  margin-top: 40px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%; }

#cut {
  margin-left: -100px;
  margin-right: -300px; }

.photo {
  width: 100% !important;
  margin-top: 40px; }

h1, caption, .header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  margin-bottom: 200px; }

.header {
  margin-top: 200px; }

@media (max-width: 550px) {
  .header {
    margin-top: 10%; } }
#header-text {
  position: relative;
  margin-left: 20%;
  top: 20%;
  margin-bottom: 2%;
  margin-right: 0%; }

@media (max-width: 800px) {
  #header-text {
    margin-left: 8%;
    margin-right: 2%;
    top: 12%; } }
#header-text span {
  background-color: rgba(0, 0, 0, 0.6); }

a {
  color: inherit;
  border-bottom: dashed 1px; }

a:link {
  text-decoration: none; }

a:hover {
  color: #FAA61A;
  border-bottom: #FAA61A solid 1px; }

a.dotted {
  /*for links*/
  color: #4b444d;
  border-bottom: 2px dotted #cccccc; }

h1 {
  color: black;
  font-size: 3.0rem !important;
  line-height: 4rem;
  font-weight: bold;
  width: 80%;
  margin-left: 0; }

h2 {
  font-size: 2em;
  line-height: 3em;
  font-weight: bold; }

h3 {
  color: #464749;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 80%;
  margin-left: 0; }

h4 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2em;
  margin-right: 20%;
  font-weight: bold;
  line-height: 1.5em; }

h5 {
  margin-top: 2em;
  font-size: 1.2rem;
  color: black;
  line-height: 1.5em;
  margin-left: 0;
  width: 80%; }

p, li {
  font-size: 1.6em;
  line-height: 1.7em; }

.description {
  font-size: 1.5em;
  text-align: right;
  font-style: italic;
  margin-bottom: 40px; }

/* scrollama */
.parent {
  position: relative; }

.narrative-item {
  display: block;
  margin: 0 auto;
  margin-top: 80vh;
  color: #ccc;
  transition: color 200ms; }

.narrative-item.active {
  background: rgba(0, 0, 0, 0.1);
  color: black; }

.sticky-outer {
  position: absolute;
  height: calc(100% + 30vh);
  width: 100%;
  top: -80vh;
  left: 0;
  z-index: -1; }

.chart {
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px; }

.parent > .chart {
  width: 100%; }

/*# sourceMappingURL=application.css.map */
